name: Create hardware release
on:
  workflow_dispatch:
    inputs:
      name:
        description: Name of the hardware release
        required: true
      sha:
        description: Commit sha
        required: true
      projects:
        description: Comma separated project names
        required: true

jobs:
  release_creator:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      issues: write 
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.sha }}

      - name: Install requirements
        run: |
          sudo add-apt-repository -y ppa:kicad/kicad-9.0-releases
          sudo apt update
          # Might fail in the future
          sudo apt install kicad=9.0.6~ubuntu22.04.1 kicad-libraries kicad-symbols kicad-footprints --no-install-recommends
          mkdir -p ~/.config/kicad/9.0
          cp /usr/share/kicad/template/sym-lib-table ~/.config/kicad/9.0/sym-lib-table
          cp /usr/share/kicad/template/fp-lib-table ~/.config/kicad/9.0/fp-lib-table

          python -m pip install --upgrade pdfCropMargins
          git clone https://gitlab.com/dennevi/Board2Pdf --branch v1.9.x

          git clone https://github.com/bennymeg/Fabrication-Toolkit.git

      - name: Create release files
        run: |
          PROJECTS=${{ inputs.projects }}
          HW_PATH="./hw"

          mkdir release

          for PROJECT in ${PROJECTS//,/ }; do
            echo "$PROJECT"
            mkdir "$HW_PATH/$PROJECT/report"
            mkdir "$HW_PATH/$PROJECT/plots"

            # Run twice to ignore CvPcb warning on a fresh install
            kicad-cli sch erc "$HW_PATH/$PROJECT/$PROJECT.kicad_sch" --output "$HW_PATH/$PROJECT/report/erc.rpt"
            kicad-cli sch erc "$HW_PATH/$PROJECT/$PROJECT.kicad_sch" --output "$HW_PATH/$PROJECT/report/erc.rpt"

            kicad-cli sch export pdf "$HW_PATH/$PROJECT/$PROJECT.kicad_sch" --output "$HW_PATH/$PROJECT/plots/${PROJECT}_sch.pdf"

            kicad-cli pcb drc "$HW_PATH/$PROJECT/$PROJECT.kicad_pcb" --output "$HW_PATH/$PROJECT/report/drc.rpt" --schematic-parity

            python3 ./Board2Pdf/src/board2pdf/cli.py "$HW_PATH/$PROJECT/$PROJECT.kicad_pcb" --colorize pymupdf --ini "$HW_PATH/board2pdf.config.ini"

            $(cd Fabrication-Toolkit && python3 -m plugins.cli -p ../$HW_PATH/$PROJECT/$PROJECT.kicad_pcb --noBackup --nonInteractive)

            cp -r $HW_PATH/$PROJECT/ release
          done

          find release -name '*.svg' -type f -delete

      - uses: actions/upload-artifact@v4
        id: artifact
        if: success()
        with:
          name: hardware
          path: ./release
          if-no-files-found: error

      - uses: actions/checkout@v4

      - uses: JasonEtco/create-an-issue@v2
        if: success()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NAME: ${{ inputs.name }}
          RUN_ID: ${{ github.run_id }}
          SHA: ${{ inputs.sha }}
          REPO: ${{ github.repository }}
          URL: ${{steps.artifact.outputs.artifact-url}}
        with:
          filename: .github/ISSUE_HW_RELEASE_SUCCESS.md

      - uses: JasonEtco/create-an-issue@v2
        if: failure()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NAME: ${{ inputs.name }}
          RUN_ID: ${{ github.run_id }}
          SHA: ${{ inputs.sha }}
          REPO: ${{ github.repository }}
        with:
          filename: .github/ISSUE_HW_RELEASE_FAIL.md
