# Run KiCad checks
name: Hardware checks
on:
  pull_request:
    branches-ignore:
      - private/**

jobs:
  filter:
    runs-on: ubuntu-latest
    outputs:
      schematics: ${{ steps.filter.outputs.schematics }}
      pcb: ${{ steps.filter.outputs.pcb }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            schematics:
              - added|modified: '*.kicad_sch'
            pcb:
              - added|modified: '*.kicad_pcb'

      - name: Echo schematics
        if: steps.filter.outputs.schematics == 'false'
        run: echo "No schematics to check"

      - name: Echo PCB
        if: steps.filter.outputs.pcb == 'false'
        run: echo "No PCB to check"

  # Run only if there were changes in schematics or PCBs
  hardware_checks:
    runs-on: ubuntu-22.04
    needs: filter
    if: needs.filter.outputs.schematics == 'true' || needs.filter.outputs.pcb == 'true'
    steps:
      - name: Install KiCad
        run: |
          sudo add-apt-repository -y ppa:kicad/kicad-9.0-releases
          sudo apt update
          sudo apt install kicad=9.0.6~ubuntu22.04.1
      - uses: actions/checkout@v4