name: local_runner

on:
  pull_request:
    branches:
      - master
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  REPO: ${{ github.repository }}
  PR_NUMBER: ${{ github.event.pull_request.number }}

jobs:
  local_runner:
    runs-on: ubuntu-latest
    steps:

      - name: Check if commit author is permitted to use local runner
        if: github.repository == 'Tai-Min/Robo-Bus'
        run: |
          commits=$(curl -s -H "Authorization: token $GITHUB_TOKEN" "https://api.github.com/repos/$REPO/pulls/$PR_NUMBER/commits")
          latest_commit=$(echo "$commits" | jq '.[-1]')
          author_login=$(echo "$latest_commit" | jq -r '.author.login')
          collaborator=$(curl -s -o /dev/null -w "%{http_code}" -H "Authorization: token $GITHUB_TOKEN" https://api.github.com/repos/$REPO/collaborators/$author_login)
          echo "Collaborator status check: $collaborator"
          if [[ "$collaborator" == "204" ]]; then
            echo "✅ $author_login is allowed to use local runner"
          else
            echo "❌ $author_login is not allowed to use local runner, skipping"
            gh run cancel ${{ github.run_id }}
          fi
