name: local_runner

on:
 workflow_call:
  inputs:
    repo:
      required: true
      type: string
    pr_number:
      required: true
      type: string
  secrets:
    repo_token:
      required: true

jobs:
  local_runner:
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: actions/checkout@v4
      - name: Check if commit author is permitted to use local runner
        run: |
          commits=$(curl -s -H "Authorization: token ${{ secrets.repo_token }}" "https://api.github.com/repos/${{ inputs.repo }}/pulls/${{ inputs.pr_number }}/commits")
          latest_commit=$(echo "$commits" | jq '.[-1]')

          author_login=$(echo "$latest_commit" | jq -r '.author.login')
          collaborator=$(curl -s -o /dev/null -w "%{http_code}" -H "Authorization: token ${{ secrets.repo_token }}" https://api.github.com/repos/${{ inputs.repo }}/collaborators/zzz)

          if [[ "$collaborator" == "204" ]]; then
            echo "✅ $author_login is allowed to use local runner"
          else
            echo "❌ $author_login is not allowed to use local runner, skipping"
          fi
