# Works only for forked PRs as it's not needed for collaborators
name: Update PR comments

on:
  workflow_run:
    workflows:
      - CI
    types:
      - completed

jobs:
  pr_updater:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Find associated pull request
        id: pr
        uses: actions/github-script@v7
        with:
          script: |
            const response = await github.rest.search.issuesAndPullRequests({
              q: 'repo:${{ github.repository }} is:pr sha:${{ github.event.workflow_run.head_sha }}',
              per_page: 1,
            })
            const items = response.data.items
            if (items.length < 1) {
              console.error('No PRs found')
              return
            }
            const pullRequestNumber = items[0].number
            console.info("Pull request number is", pullRequestNumber)
            return pullRequestNumber

      - name: Committer check
        id: committer_check
        uses: Tai-Min/Robo-Bus/.github/actions/committer_check@master
        with:
          repo: Tai-Min/Robo-Bus
          pr_number: ${{ steps.pr.outputs.result }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Delete previous comment
        if: steps.committer_check.outputs.association == 'false'
        uses: Tai-Min/Robo-Bus/.github/actions/comment_remover@master
        with:
          pr_number: ${{ steps.pr.outputs.result }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          magic_header: "\n<!-- TEST_RUNNER -->"

      - name: Post a comment
        if: steps.committer_check.outputs.association == 'false'
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MSG_ARTIFACT_NAME: "pr_message"

        run: |
          export GITHUB_API="https://api.github.com/repos/$GITHUB_REPOSITORY"

          crl() {
            curl --silent --show-error --location --retry 1 "${@:2}" \
              -H "Accept: application/vnd.github.antiope-preview+json, application/vnd.github.v3+json" \
             "$1"
          }

          auth_crl() {
            crl "$1" -H "authorization: Bearer $GITHUB_TOKEN" "${@:2}"
          }

          RUN_ID="${{ github.event.workflow_run.id }}"
          PR_NUMBER="${{ steps.pr.outputs.result }}"
          ARTIFACTS="$(crl "$GITHUB_API/actions/runs/$RUN_ID/artifacts")"

          ARTIFACT_URL="$(jq -r --arg MSG_ARTIFACT_NAME "$MSG_ARTIFACT_NAME" '
            .artifacts
            | map(select(.name == $MSG_ARTIFACT_NAME and .expired == false))
            | first
            | .archive_download_url
            | select(.!=null)
            ' <( echo "$ARTIFACTS" ) )"

          if [ -z "$ARTIFACT_URL" ]; then
            echo "Unable to find an artifact named '$MSG_ARTIFACT_NAME' in workflow $RUN_ID (PR #$PR_NUMBER), skipping..."
            exit 0
          fi

          if ! MESSAGE="$(auth_crl "$ARTIFACT_URL" | gunzip)"; then
            echo "Unable to download or parse message from artifact '$MSG_ARTIFACT_NAME' in workflow $RUN_ID (PR #$PR_NUMBER), skipping..."
            exit 0
          fi
          if [ -z "$MESSAGE" ]; then
            echo "Empty message in artifact '$MSG_ARTIFACT_NAME' in workflow $RUN_ID (PR #$PR_NUMBER), skipping..."
            exit 0
          fi

          MESSAGE_BODY="$(jq -n \
            --arg MESSAGE "$MESSAGE" \
            '{ body: (($MESSAGE | sub( "^[\\s\\p{Cc}]+"; "" ) | sub( "[\\s\\p{Cc}]+$"; "" ))) }' \
          )"

          auth_crl "$GITHUB_API/issues/$PR_NUMBER/comments" \
                -X POST \
                -H "Content-Type: application/json" \
                --data "$MESSAGE_BODY"
