# Label PRs based on rules in labeler.yml
name: PR Labeler

on:
  pull_request_target:

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Add labels to a topic
        uses: actions/labeler@v6