# Label PRs based on rules in labeler.yml
name: PR Labeler
on:
  pull_request:
    branches:
      - master

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v6
