name: Remove stale branches created by bots

on:
  schedule:
    - cron: "0 0 * * *" # Everday at midnight

jobs:
  remove-stale-branches:
    name: Remove Stale Branches
    runs-on: ubuntu-latest
    steps:
      - uses: fpicalausa/remove-stale-branches@v2.4.0
        with:
          dry-run: true
          restrict-branches-regex: ^.*-AUTO$